**/*.pyc
/frontend/.venv
/frontend/frontend/Dataset-trafo
/frontend/old
/frontend/frontend/Streamlit_data
/backend/old
/backend/.venv
/backend/backend/model_parameters
/backend/tests
/notebooks/.ruff_cache
/Dataset-trafo
/.venv
/.ruff_cache
*.tar
/model_parameters
.vscode/
.python-version